<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测试</title>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <label>姓名</label>
  <input type="text" style="width:200px;" id="name">
  <label>密码</label>
  <input type="text" style="width:200px;" id="password">
  <button id="login">登录</button>
  <button id="check">查询</button>
  <script>
    var indexLogin = {
      init: function(){
        this.bindEvent();
      },
      bindEvent: function(){
        $('#login').click(() => {
          let name = $('#name').val();
          let pwd = $('#password').val();
          $.ajax({
            url: 'http://127.0.0.1:3000/api/login',
            data: {
              name: name,
              pwd: pwd
            },
            type: 'POST',
            dataType: 'json',
            success: (data) => {
              console.log('登陆')
            },
            error: (e) => {
              console.log(e)
            }
          })
        })
        $('#check').click(() => {
          let name = $('#name').val();
          let pwd = $('#password').val();
          $.ajax({
            url: 'http://127.0.0.1:3000/api/check',
            data: {
              name: name,
              pwd: pwd
            },
            type: 'POST',
            dataType: 'json',
            success: (data) => {
              console.log('登陆')
            },
            error: (e) => {
              console.log(e)
            }
          })
        })
      },
    }
    indexLogin.init()
  </script>
</body>
</html>